@model RoleViewModel

@{
    ViewData["Title"] = "AddRole";
    Layout = "~/Views/Shared/_ItechLayout.cshtml";
}



<div class="container">
    <h1 class="mb-2">Add Role</h1>
     <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="AddRole">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="RoleName" class="control-label"></label>
                    <input asp-for="RoleName" class="form-control" />
                    <span asp-validation-for="RoleName" class="text-danger"></span>
                </div>
                <br />
                <div class="form-group ">
                    <input type="submit" value="Create" class="btn btn-warning me-2" />
                    <a asp-action="GetRoles" asp-controller="Role" class=" btn btn-secondary">Back</a>
                </div>
            </form>
        </div>
    </div>
</div>

