@section style {
    <link rel="stylesheet" href="~/assets/css/Dashboard.css">
}

<section class="home p-4">
    <div class="shop-content container">
        <!-- Box 2 -->
        <div class="product-box">
            <img src="~/assets/imgs/dashboard/events-2.jpg" class="product-img" alt="...">
            <div class="Dash-item">
                <div class="d-flex align-items-center mb-3 mt-3">
                    <h4 class="me-3">Show my Items</h4>
                    <a class="btn btn-outline-warning">Items</a>
                </div>

            </div>
        </div>
        <!-- Box 3 -->
        <div class="product-box">
            <img src="~/assets/imgs/dashboard/events-1.jpg" class="product-img" alt="...">
            <div class="Dash-item">
                <div class="d-flex align-items-center mb-3 mt-3">
                    <h4 class="me-3">Show My orders:</h4>
                    <a class="btn btn-outline-warning">orders</a>
                </div>
            </div>
        </div>
        <!-- Box 4 -->
        <div class="product-box">
            <div class="course-item">
                <img src="~/assets/imgs/dashboard/course-2.jpg" class="product-img" alt="...">
                <div class="Dash-item">
                    <div class="d-flex align-items-center mb-3 mt-3">
                        <h4 class="me-3">Show My Statistics:</h4>
                        <a class="btn btn-outline-warning">Statistics</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Box 7 -->
        <div class="product-box">
            <div class="course-item">
                <img src="~/assets/imgs/dashboard/course-1.jpg" class="product-img" alt="...">
                <div class="Dash-item">
                    <div class="d-flex align-items-center mb-3 mt-3">
                        <h4 class="me-3">Show Tracks Data:</h4>
                        <a class="btn btn-outline-warning">Tracks</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Box 5 -->
        <div class="product-box">
            <img src="~/assets/imgs/dashboard/about.jpg" class="product-img" alt="...">
            <div class="Dash-item">
                <div class="d-flex align-items-center mb-3 mt-3">
                    <h4 class="me-3">About our Team:</h4>
                    <a class="btn btn-outline-warning">About</a>
                </div>
            </div>
        </div>
        <!-- Box 1 -->
        <div class="product-box">
            <img src="~/assets/imgs/dashboard/course-3.jpg" class="product-img" alt="...">
            <div class="Dash-item">
                <div class="d-flex align-items-center mb-3 mt-3">
                    <h4 class="me-3">Contact us:</h4>
                    <a class="btn btn-outline-warning">Contact</a>
                </div>
            </div>
        </div>
    </div>
</section>

@section script {
    <script src="~/assets/js/dashboard.js"></script>
}