@model Product

<section class="container">
    <h1>Add Product</h1>
    <hr style="margin: 0" />
    <form asp-action="Create" id="Create" class="row d-flex flex-column flex-md-row mt-3">
        <div class="col-12 col-md-6">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="UnitPrice" class="control-label"></label>
                <input asp-for="UnitPrice" class="form-control" />
                <span asp-validation-for="UnitPrice" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Discount" class="control-label"></label>
                <input asp-for="Discount" class="form-control" />
                <span asp-validation-for="Discount" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="UnitsInStock" class="control-label"></label>
                <input asp-for="UnitsInStock" class="form-control" />
                <span asp-validation-for="UnitsInStock" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Color" class="control-label"></label>
                <select asp-for="Color" asp-items="Html.GetEnumSelectList<Color>()" class="form-control">
                    <option selected>--Select Color--</option>
                </select>
                <span asp-validation-for="Color" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="Category" class="control-label mb-2"></label>
                <select asp-for="Category" asp-items="Html.GetEnumSelectList<Category>()" class="form-control">
                    <option selected>--Select Category--</option>
                </select>
                <span asp-validation-for="Category" class="text-danger"></span>
            </div>

            <div class="form-group d-none" id="Acc">
                <label asp-for="Accessories" class="control-label mb-2"></label>
                <select asp-for="Accessories" asp-items="Html.GetEnumSelectList<Accessories>()" class="form-control">
                    <option selected>--Select Accessories--</option>
                </select>
                <span asp-validation-for="Accessories" class="text-danger"></span>
            </div>

            <div class="form-group d-none" id="lab">
                <label asp-for="ModelLabtop" class="control-label"></label>
                <select asp-for="ModelLabtop" asp-items="Html.GetEnumSelectList<ModelLabtop>()" class="form-control">
                    <option selected>--Select Labtop Model--</option>
                </select>
            </div>

            <div class="form-group d-none" id="mob">
                <label asp-for="ModelMobile" class="control-label mb-2"></label>
                <select asp-for="ModelMobile" asp-items="Html.GetEnumSelectList<ModelMobile>()" class="form-control">
                    <option selected>--Select Mobile Model--</option>
                </select>
            </div>
        </div>

        <div class="col-12 col-md-6">
            
            <div class="form-group mb-3">
                <label asp-for="Picture" class="control-label">Pictures(Link)</label>
                <i class="bx bxs-image-add" id="image-add" style="font-size: 25px;cursor: pointer;"></i>
                <textarea asp-for="Picture" class="form-control pic-input" placeholder="split with comma if more than one link" rows="6" style="resize: none"></textarea>
                <span asp-validation-for="Picture" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Description" class="control-label mb-2"></label>
                <textarea asp-for="Description" class="form-control" rows="6" style="resize: none"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

        </div>
        <div class="form-group mt-3 mb-3">
            <input type="submit" value="Create" class="btn btn-warning me-3" />
            <a asp-action="GetAll" class="btn btn-secondary">Back to All Products</a>
        </div>
    </form>
</section>
@section scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
<script src="~/assets/js/createProduct.js"></script>
}