<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/assets/imgs/icon.svg" rel="icon">

    <title>I-Tech</title>
    @*links*@
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="~/assets/css/layout.css"/>
    @RenderSection("style", false);
</head>

<body>
    <header>
        @if(User.Identity.IsAuthenticated)
        {
         <nav class="container">
            <ul class="menu-links">
                <li class="nav-link">
                    <a asp-controller="Home" asp-action="dashboard">
                        <i class='bx bx-home-alt icon'></i>
                        <span class="text nav-text">Dashboard</span>
                    </a>
                </li>

                <li class="nav-link">
                    <a asp-controller="Home" asp-action="cart">
                        <i class='bx bx-bar-chart-alt-2 icon'></i>
                        <span class="text nav-text">Cart</span>
                    </a>
                </li>

                <li class="nav-link">
                    <a asp-controller="Home" asp-action="orders">
                        <i class='bx bx-bell icon'></i>
                        <span class="text nav-text">Orders</span>
                    </a>
                </li>

                <li class="nav-link">
                    <a asp-controller="Home" asp-action="index">
                        <i class='bx bx-pie-chart-alt icon'></i>
                        <span class="text nav-text">Statitics</span>
                    </a>
                </li>

                <li class="nav-link">
                    <a asp-controller="Product" asp-action="GetAll">
                        <i class='bx bx-cart icon'></i>
                        <span class="text nav-text">Shop</span>
                    </a>
                </li>

                <li class="nav-link">
                    <a asp-controller="Home" asp-action="about">
                        <i class='bx bx-info-circle icon'></i>
                        <span class="text nav-text">About</span>
                    </a>
                </li>

                <li class="nav-link">
                    <a asp-controller="Home" asp-action="contact">
                        <i class='bx bx-support icon'></i>
                        <span class="text nav-text">Contact</span>
                    </a>
                </li>
                <li class="nav-link">
                    <a asp-controller="Account" asp-action="Logout">
                        <i class='bx bx-log-out icon'></i>
                        <span class="text nav-text">Logout</span>
                    </a>
                </li>
            </ul>
        <div id="menu-bar"><i class='bx bx-menu'></i></div>
        </nav>
        }
        else
            {
            <nav class="container">
                <ul class="top-nav">
                    <div class="current-page"></div>
                    <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><a asp-controller="Account" asp-action="login">My Account</a></li>
                    <li> <a asp-controller="Product" asp-action="GetAll">Shopping</a></li>
                    <li><a asp-controller="Home" asp-action="Checkout">Checkout</a></li>
                </ul>
                <div id="menu-bar"><i class='bx bx-menu'></i></div>
            </nav>  
            }
        <section class="items-section">
            <div class="items-bar container">
                <a asp-controller="Home" asp-action="Index"><p>I-TECH</p></a>
                <div class="search-bar d-flex justify-content-center align-items-center">
                    <input type="text" placeholder="Search your item" id="tags">                    <div class="Search-icon">
                        <i class='bx bx-search-alt-2'></i>
                    </div>
                </div>
                <div class="btn-group account">
                    <p type="button" class="" data-bs-toggle="dropdown" aria-expanded="false">
                        Account
                    </p>
                    <ul class="dropdown-menu dropdown-menu-center">
                        <a asp-controller="Account" asp-action="login">
                            <li><button class="dropdown-item" type="button">Account</button></li>
                        </a>

                        <a asp-controller="Home" asp-action="orders">
                            <li><button class="dropdown-item" type="button">Orders</button></li>
                        </a>

                        @if (User.Identity.IsAuthenticated)
                        {
                            <a asp-controller="Account" asp-action="Logout">
                                <li><button class="dropdown-item" type="button">Log out</button></li>
                            </a>
                        }
                        else
                        {
                            <a asp-controller="Account" asp-action="login">
                                <li><button class="dropdown-item" type="button">Sign In</button></li>
                            </a>
                        }
                    </ul>
                </div>
                <div class="cart-icon">
                    <a asp-controller="Home" asp-action="cart">
                        <i class='bx bx-cart'></i>
                    </a>
                </div>
            </div>
        </section>
        <!-- back to top icon -->
        <div class="back-top">
            <i class='bx bx-up-arrow-alt'></i>
        </div>
    </header>
    <div class="main-c">
        @RenderBody()
    </div>
    <!-- footer -->
    <footer id="footer" class="border-top footer text-muted">

        <div class="footer-top">
            <div class="container">
                <div class="row justify-content-evenly">
                    <div class="col-lg-2 col-md-6 footer-links">
                        <h4>Information</h4>
                        <ul>
                            <li><i class="bx bx-chevron-right"></i> <a asp-controller="Home" asp-action="index">Home</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a asp-controller="Home" asp-action="About">About us</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a asp-controller="Home" asp-action="index">Privacy</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a asp-controller="Home" asp-action="Contact">Contact</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-links">
                        <h4>MY Account</h4>
                        <ul>
                            <li><i class="bx bx-chevron-right"></i> <a asp-controller="Home" asp-action="login">Sign In</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a asp-controller="Home" asp-action="cart">My Cart</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a asp-controller="Home" asp-action="Orders">Orders</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a asp-controller="Home" asp-action="contact">Help</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-contact">
                        <h3>I-TECH</h3>
                        <p>
                            ITI Menofia Branch <br>
                            Menofia, Shebin Elkom<br>
                            Egypt <br><br>
                            <strong>Phone:</strong> +20 1114474365<br>
                            <strong>Email:</strong> ahmed.elzahed404@gmail.com<br>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="container d-md-flex py-4 inner-footer">

            <div class="me-md-auto text-center text-md-start">
                <div class="copyright">
                    &copy; Copyright <strong><span> I-TECH
                        </span></strong>. All Rights Reserved
                </div>
                <div class="credits">
                    Designed by <a href="https://github.com/ahmedabdo404/I-TECH-Project" target="_blank"> I-TECH
                        Team</a>
                </div>
            </div>
            <div class="social-links text-center text-md-right pt-3 pt-md-0">
                <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div>
        </div>
    </footer>

    @*bootstrap*@
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"> </script>
    @*jquery*@
    <script src="~/lib/jquery/jquery.min.js"></script>
    @*jquery Autocomlete*@
    <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
    @*typed.js*@
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
    <script src="~/assets/js/layout.js"></script>
    @RenderSection("script", false);
</body>

</html>