@model ForgetPasswordViewModel   

@section style {
     <link rel="stylesheet" href="~/assets/css/forgetPassword.css">
}

@*    
    <div class="Email-sent">
    </div>
    *@
    <section class="items-section pass-c">
        <div class="container">
            <div class="h m-3 ms-0">
                <p>Forget Password</p>
            </div>
            <div class="row d-flex justify-content-start">
                <div class="col-9 form-sub" action="resetPassword">
                    <h6 class="mb-2">We will sent an email to you </h6>
                    <hr>
                        <form method="post" class="row login-inputs mt-3">
                            <div class="col-12">
                                <label asp-for="Email" class="mb-2 me-2">enter your Email</label>
                                <input asp-for="Email" required placeholder="Email" >
                                <span asp-validation-for="Email" class="text-danger d-block mb-3"></span>
                            </div>
                            <div>
                                <input type="submit" value="Send" class="b">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

@section scripts{
    <script src="~/assets/js/forget.js"></script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}