@model LoginViewModel
@section style {
     <link rel="stylesheet" href="~/assets/css/login.css">
}

    <section class="items-section">
        <div class="container login-c">
            <div class="h m-3 ms-0">
                <p>Login</p>
            </div>
            <div class="row">
                <div class="col-12">
                    <h6>Login or Register a new account</h6>
                    <hr>
                    <div class="row border p-4 m-4 d-flex flex-row">
                        <form class="col-5" asp-action="Login">
                            <h5>Sign in</h5>
                            <P>Log in to my account</P>
                            <div class="d-flex flex-row login-inputs">
                                <div class="d-flex flex-column justify-content-center me-5">
                                    <label asp-for="Email" >Email</label>
                                    <label asp-for="Password">Password</label>
                                </div>
                                <div class="d-inline-flex flex-column col-7">
                                    <input asp-for="Email" type="text" >
                                    <input asp-for="Password" id="password">
                                </div><br />
                                
                            </div><br />
                            <label class="form-check-label">Remember me</label>
                            <input class="form-check-input" asp-for="RememberMe"/>
                            <div asp-validation-summary="All" class="text-danger"></div>
                            @*<p><span asp-validation-for="UserName" class="text-danger"></span></p>*@
                            @*<p><span asp-validation-for="Password" class="text-danger"></span></p>*@
                            <br>
                            <a asp-action="ForgetPassword">Forgot Password?</a>
                            <input type="submit" value="LOG IN" class="ms-3 b">
                        </form>
                        <div class="col-2 align-self-center"><h6>Or</h6></div>
                        <div class="col-5 align-self-center">
                            <a asp-action="SignUp"></a>
                                <p>Creat a new Account on I-Tech</p>
                                <input type="button" value="Sign Up" class="b">
                        </div>

                    </div>
    
                </div>
            </div>
        </div>
    </section>

@section script {
    <script src="~/lib/jquery/jquery.min.js"></script>
}