@model LoginViewModel
@section style {
<link rel="stylesheet" href="~/assets/css/login.css">
}

<section class="items-section mb-3">
    <div class="container login-c">
        <div class="h m-3 ms-0">
            <p>Login</p>
        </div>
        <div class="row">
            <div class="col-12">
                <h6>Login or Register a new account</h6>
                <hr>
                <div class="row border p-2 m-1 d-flex flex-row justify-content-center">
                    <form class="col-12 col-lg-5" asp-action="Login">
                        <input type="hidden" value="@ViewData["ReturnUrl"]" />
                        <h5>Sign in</h5>
                        <p>Login to your account</p>
                        <div asp-validation-summary="All" class="text-danger ps-0"></div>
                        <div class="d-flex flex-row login-inputs">
                            <div class="d-flex flex-column justify-content-center me-1 me-lg-5">
                                <label asp-for="Email">Email</label>
                                <label asp-for="Password">Password</label>
                            </div>
                            <div class="d-inline-flex flex-column col-8">
                                <input asp-for="Email" type="text">
                                <input asp-for="Password">
                            </div>
                        </div>
                        <br />
                        <label class="form-check-label">Remember me</label>
                        <input class="form-check-input" asp-for="RememberMe" />
                        <br>
                        <a asp-action="ForgetPassword">Forgot Password?</a><br />
                        <input type="submit" value="Login" class="b mt-3 me-3 " />
                        <a asp-action="LoginWithGoogle" asp-controller="Account" class="btn btn-primary mt-3 mb-3">Login With Google</a>
                    </form>

                    <div class="col-1 align-self-center d-none d-lg-flex"><div class="v-line"></div></div>
                    <div class="col-12 mt-3 col-lg-5 d-flex flex-column justify-content-center p-0">
                        <div>
                            <h5>Sign UP</h5>
                            <P>Create your I-Tech account in just a few clicks!</P>
                        </div>

                        <div class="signup-sec d-flex flex-row flex-md-column">
                            <a asp-controller="account" asp-action="SignUpSupplier"
                               class="d-flex flex-row align-items-center justify-content-between b">
                                <i class='bx bxs-cart-download'></i>
                                <input type="button" value="Supplier" class="b">
                            </a>

                            <a asp-controller="account" asp-action="signup"
                               class=" d-flex flex-row align-items-center justify-content-between b ms-2 ms-md-0 mt-md-2">
                                <i class='bx bxs-cart-add'></i>
                                <input type="button" value="Buyer" class="b">
                            </a>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</section>