<div class="row">
    <div class="col-md-6 offset-3 alert alert-success text-center">
        <h2>Order Completed Successfully</h2>
        <p>You Can Check all Your Orders in the Orders Section Of Your Profile</p>
        <hr />
        <p>Thank You!.. ^_^</p>
    </div>
</div>
<div class="text-center">
    <a asp-action="GetAll" asp-controller="Product" class="btn btn-warning">Back To Products</a>
</div>
