@model Order

@{
    SelectList custs;
    if(Model !=null)
    {
        custs = new SelectList(ViewBag.Cust,"Id","FirstName",Model.CustomerId);
    }
    else
    {
        custs = new SelectList(ViewBag.Cust,"Id","FirstName");
    }      
}
@{
    SelectList pay;
    if(Model !=null)
    {
        pay = new SelectList(ViewBag.Pay,"Id","PaymentType",Model.PaymentId);
    }
    else
    {
        pay = new SelectList(ViewBag.Pay,"Id","PaymentType");
    }      
}

<div class="container mt-3">
    <div class="row col-md-4">
        <form asp-action="Create" asp-controller="Order">
            <div>
                <label asp-for="CustomerId"></label>
                <select asp-for="CustomerId" asp-items="custs" class="form-control"></select>
                <span class="text-danger" asp-validation-for="CustomerId"></span>
            </div>
            <div>
                <label asp-for="OrderNumber"></label>
                <input asp-for="OrderNumber" class="form-control" placeholder="Enter name">
                <span asp-validation-for="OrderNumber" class="text-danger"></span>
            </div>
             <div>
                <label asp-for="PaymentId"></label>
                <select asp-for="PaymentId" asp-items="pay" class="form-control"></select>
                <span class="text-danger" asp-validation-for="PaymentId"></span>
            </div>
            <div>
                <label asp-for="Freight"></label>
                <input asp-for="Freight" class="form-control" placeholder="Enter your age!">
                <span asp-validation-for="Freight" class="text-danger"></span> 
            </div>

            <input type="submit" value="Create" class="btn btn-primary mt-3"/>
            <a asp-action="GetAll" class="btn btn-secondary ms-2 mt-3">Back</a>
        </form>
    </div>
</div>
