<div class="container">
    <div class="m-3">
        <h3>Email has been sent To <span class="mail"></span></h3>
    </div>
    <p>
        we have received your issue and we will reply to you as soon as possible
    </p>
</div>
@section Scripts {
    <script src="~/assets/js/contact.js"></script>
}