
/* body ->>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>body*/
.h{
    background-color: var(--main-color);
    color: var(--sec-color);
    padding: 0 0.5rem;
    margin: 0
}

.details .carousel {
    width: 500px;
    height: 300px;

}

.details .carousel-item img{
    width: 500px;
    height: 333px;
}

.speces{
    margin-left: 2rem;
    width: 100%
}

hr {
    margin: 0;
    max-width: 75% 
}

.speces h4,
.speces span{
    width: auto;
    margin: 0.8rem 0
}

.Product-reviews i {
    color: var(--main-color);
}

.Desc{
    margin-left: 2rem;
    width: 100%
}

.Desc h4,
.Desc span{
    width: auto;
    margin: 0.8rem 0
}

.price-val p:nth-child(1){
    color: var(--fifth-color);
    text-decoration: line-through;
    margin-right: 1rem;
    font-size: var(--font-size2)
}

.price-val p:nth-child(2){
    color: var(--main-color);
    font-size: var(--font-size1)
}

.add-to-cart{
    width: 150px !important;
    height: 2.5rem;
    background-color: var(--main-color);
    border-radius: 5px;
    cursor: pointer;
}

.add-to-cart p {
    width: fit-content;
    margin: 0;
    margin-left: 0.2rem;
    color: var(--sec-color);
}

.add-to-cart i{
    font-size: var(--font-size1);
    color: var(--sec-color);
}

#custome-accordion {
    width: 100%;
    height: auto;
    margin: 1rem;
    margin-bottom: 2rem;
}

#custome-accordion #ca-title{
    width: fit-content;
    /* background-color: var(--third-color); */
}

#custome-accordion #ca-title span{
    margin-right: 1rem;
    cursor: pointer;
    color: var(--main-color);
    transition: var(--transition1);
    font-size: var(--font-size2);
    border-radius: 2px;
    padding: 0.5rem;
}

/* #custome-accordion #ca-title span:hover{
    transform: translateY(-10%);
    color: var(--fifth-color)
} */

#custome-accordion #ca-body div{
    width: 100%;
    height: auto;
    background-color: var(--third-color);
    border-radius: 2px;
    padding: 1rem;
    /* transition: var(--transition1); */
}