
/* carousel-slider ->>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>carousel-slider*/
.landing {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.carousel-sections {
    position: relative;
    transition: all 1s;
}

.carousel-item img {
    height: 100vh;
    min-width: 100vw;
}

.carousel-indicators button {
    height: 15px !important;
    width: 15px !important;
    border-radius: 50%;
    background-color: var(--main-color) !important;
    margin-left: 2% !important;
}

.overlay {
    background-color: rgba(42, 42, 42, 0.50) !important;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    z-index: 1;
    top: 0;
}

#imgs button {
    z-index: 2;
    transition: all 1s;
}

.carousel-caption {
    z-index: 2;
    transition: all 1s;
    animation: change-color 3s infinite alternate linear;
}

    .carousel-caption:hover {
        color: var(--main-color) !important;
    }

@keyframes change-color {
    0% {
        color: var(--main-color);
        opacity: 0.4;
    }

    100% {
        color: var(--third-color);
        opacity: 1;
    }
}

.carousel-control-prev,
.carousel-control-next {
    position: absolute;
    top: 50% !important;
    width: 70px !important;
    height: 70px !important;
    margin: 2% 5%;
}

/* shop-content ->>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>shop-content*/
.section-title {
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 1.5rem;
}

.shop {
    margin-top: 10px;
    padding-top: 0px
}

.shop-content {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,auto));
    gap: 1.5rem;
}

.product-box {
    position: relative;
    min-width: 200px;
    transition: var(--transition2);
}

    .product-box:hover {
        padding: 10px;
        border: 1px solid var(--forth-color);
        transition: var(--transition2);
    }

.product-img {
    width: 100%;
    height: auto;
    margin-bottom: 0.5rem;
    transition: var(--transition2);
}

.product-title {
    font-size: 1.1rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
}

.price {
    font-weight: 500;
}

.add-cart {
    font-size: 30px;
    position: absolute;
    bottom: 0;
    right: 0;
    background: var(--forth-color);
    color: var(--sec-color);
    padding: 10px;
    cursor: pointer;
}

    .add-cart:hover {
        background: var(--main-color);
        transition: var(--transition2);
    }

/* offer ->>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>offer*/
.offer {
    width: 100%;
    max-height: 50vh;
    border: solid var(--fifth-color) 3px;
    margin: 3rem;
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 0.5rem
    /* align-items: center; */
}

.sec1 {
    width: 50%;
    display: flex;
    flex-direction: column;
}


.discount {
    position: absolute;
    align-self: flex-end;
    width: 120px;
    height: 120px;
    background: var(--main-color);
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
    margin-top: 10px;
}

    .discount h5 {
        margin: 0;
        text-decoration: line-through;
        color: var(--forth-color)
    }

    .discount p {
        margin: 0;
        color: var(--sec-color);
        font-size: var(--font-size1);
    }

.sec1 img {
    width: 20vw;
}

.sec2 {
    width: 50%;
    display: flex;
    flex-direction: column;
}

    .sec2 h1 {
        color: var(--main-color);
        margin-bottom: 1.5rem;
    }

    .sec2 h3 {
        margin-bottom: 1rem;
    }

    .sec2 p {
        margin-bottom: 1rem;
    }

.timer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

    .timer div {
        width: 75px;
        height: 75px;
        background-color: var(--main-color);
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        /* justify-content: flex-start; */
        align-items: center;
    }

        .timer div h2,
        .timer div p {
            color: var(--sec-color);
            margin: 0;
            padding: 0;
        }

/* Join-us ->>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>Join-us*/
.Join-us {
    width: 100%;
    max-height: 30vh;
    background: url("assets/imgs/carts/10.jpg") top center;
    background-size: cover;
    background-color: var(--fifth-color);
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 1rem;
}

    .Join-us input {
        width: 30vw;
    }

    .Join-us button {
        margin-left: -68px !important;
        border-radius: 0 5px 5px 0 !important;
        height: 44px !important;
    }

/* adv-section ->>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>adv-section*/
.adv-section {
    width: 100%;
    height: 10vh;
    background: var(--sec-color);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.advantage {
    padding: 5px;
    width: 250px;
    height: auto;
    background-color: var(--main-color);
    text-align: center;
    border-radius: 5px;
    color: var(--third-color);
}

    .advantage h5,
    .advantage p {
        margin: 0;
    }
