@model Customer

<div class="container p-3">
    <h4>Add new Customer</h4>
    <hr />
    <form asp-action="Create" asp-controller="Customer">
        <div class="row d-flex flex-column flex-md-row">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="col-12 col-md-6">

                <div class="form-group">
                    <label asp-for="FirstName" class="control-label"></label>
                    <input asp-for="FirstName" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="LastName" class="control-label"></label>
                    <input asp-for="LastName" class="form-control" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Address" class="control-label"></label>
                    <input asp-for="Address" class="form-control" />
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="City" class="control-label"></label>
                    <input asp-for="City" class="form-control" />
                    <span asp-validation-for="City" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PostalCode" class="control-label"></label>
                    <input asp-for="PostalCode" class="form-control" />
                    <span asp-validation-for="PostalCode" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Country" class="control-label"></label>
                    <input asp-for="Country" class="form-control" />
                    <span asp-validation-for="Country" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CreditCardTypeId" class="control-label"></label>
                    <input asp-for="CreditCardTypeId" class="form-control" />
                    <span asp-validation-for="CreditCardTypeId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CardExpDate" class="control-label"></label>
                    <input asp-for="CardExpDate" class="form-control" />
                    <span asp-validation-for="CardExpDate" class="text-danger"></span>
                </div>
            </div>

            <div class="col-12 col-md-6">

                <div class="form-group">
                    <label asp-for="BillingCountry" class="control-label"></label>
                    <input asp-for="BillingCountry" class="form-control" />
                    <span asp-validation-for="BillingCountry" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="BillingAddress" class="control-label"></label>
                    <input asp-for="BillingAddress" class="form-control" />
                    <span asp-validation-for="BillingAddress" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="BillingCity" class="control-label"></label>
                    <input asp-for="BillingCity" class="form-control" />
                    <span asp-validation-for="BillingCity" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ShipAddress" class="control-label"></label>
                    <input asp-for="ShipAddress" class="form-control" />
                    <span asp-validation-for="ShipAddress" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ShipCity" class="control-label"></label>
                    <input asp-for="ShipCity" class="form-control" />
                    <span asp-validation-for="ShipCity" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ShipCountry" class="control-label"></label>
                    <input asp-for="ShipCountry" class="form-control" />
                    <span asp-validation-for="ShipCountry" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DateEntered" class="control-label"></label>
                    <input asp-for="DateEntered" value="@DateTime.Today.ToShortDateString()" class="form-control" />
                    <span asp-validation-for="DateEntered" class="text-danger"></span>
                </div>
                <div class="form-group m-3">
                    <input type="submit" value="Create" class="btn btn-warning" />
                </div>
            </div>
        </div>
    </form>


</div>

@section scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
