@section style {
    <link rel="stylesheet" href="~/assets/css/about.css">
}
    <section class="container about-c">
        <div class="row p-4 d-flex flex-column-reverse flex-md-row justify-content-center flex-sm-column-reverse">
            <div class="col-md-6 col-sm-12 p-1">
                <h2>Our Team</h2>
                <ul class="list-group">
                    <li class="list-group-item border-0"><i class="bx bx-check-circle pe-2 c"></i>Mahmoud Gabr Ibrahim Elrewiny</li>
                    <li class="list-group-item border-0"><i class="bx bx-check-circle pe-2 c"></i>Mayada Ahmed Saad</li>
                    <li class="list-group-item border-0"><i class="bx bx-check-circle pe-2 c"></i>Asmaa Samir Elghareeb</li>
                    <li class="list-group-item border-0"><i class="bx bx-check-circle pe-2 c"></i>Ali Hamada Elkhateb</li>
                    <li class="list-group-item border-0"><i class="bx bx-check-circle pe-2 c"></i>Mary Fouad Adly Awad</li>
                    <li class="list-group-item border-0"><i class="bx bx-check-circle pe-2 c"></i>Ahmed Abdo Elzahed</li>
                </ul>
            </div>
            <div class="col-md-6 col-sm-12">
            <img src="~/assets/imgs/about.jpg" alt="">
            </div>
        </div>
    </section>