@{
    Layout = "_ErrorLayout";
}

<div id="error">Error</div>
<div class="error-num">404
  <div class="error-num__clip">404</div>
</div>

<p>Page not Found You can <a onclick="history.back()" style="text-decoration: underline;cursor: pointer;">Go back</a></p>
<p style="margin: 10px 0 !important;">Or</p>
<p>Go To <a asp-controller="Home" asp-action="Index">Home Page</a></p>