   @section style {
     <link rel="stylesheet" href="~/assets/css/forgetPassword.css">
}

    <div class="Email-sent">
    </div>
    
    <section class="items-section pass-c">
        <div class="container">
            <div class="h m-3 ms-0">
                <p>Forget Password</p>
            </div>
            <div class="row d-flex justify-content-center">
                <form class="col-6 form-sub" action="resetPassword">
                    <h6 class="m-0">We will sent an email for you </h6>
                    <hr>
                    <div class="row p-4 login-inputs">
                        <div class="col-6">
                            <label for="Email" class="mb-2">enter your Email</label>
                            <input type="email" required placeholder="Email" id="Email">
                        </div>
                        <div>
                            <input type="submit" value="SEND" class="b">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>

@section script{
    <script src="~/assets/js/forget.js"></script>
}