@section style {
    <link rel="stylesheet" href="~/assets/css/sub.css">
}

<section>
    <div class="filter">
        <h2 class="filter-title">Filter</h2>
        <!-- Content -->
        <div class="col-4">
            <p class="h">CATEGORY</p>
            <ul class="list-group">
                <li class="list-group-item border-0 catogery-list catogery-list-active"><i
                        class='bx bxs-right-arrow pe-2'></i>Smart Phone</li>
                <li class="list-group-item border-0 catogery-list"><i
                        class='bx bxs-right-arrow pe-2'></i>Desktop</li>
                <li class="list-group-item border-0 catogery-list"><i class="bx bxs-right-arrow pe-2"></i>Laptop
                </li>
                <li class="list-group-item border-0 catogery-list"><i
                        class='bx bxs-right-arrow pe-2'></i>Accessories</li>
            </ul>
            <p class="h">By Brand</p>
            <div class="brand">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="HP" checked>
                    <label class="form-check-label" for="HP">
                        HP
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="DELL">
                    <label class="form-check-label" for="DELL">
                        DELL
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="APPLE">
                    <label class="form-check-label" for="APPLE">
                        APPLE
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="ASUS">
                    <label class="form-check-label" for="ASUS">
                        ASUS
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="SUMSUNG">
                    <label class="form-check-label" for="SUMSUNG">
                        SUMSUNG
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="TOSHIBA">
                    <label class="form-check-label" for="TOSHIBA">
                        TOSHIBA
                    </label>
                </div>
            </div>
            <p class="h">By Price</p>
            <ul class="list-group">
                <li class="list-group-item border-0 catogery-list"><i
                        class='bx bxs-right-arrow pe-2'></i>$1000-$2000</li>
                <li class="list-group-item border-0 catogery-list"><i
                        class='bx bxs-right-arrow pe-2'></i>$2000-$3000</li>
                <li class="list-group-item border-0 catogery-list"><i
                        class='bx bxs-right-arrow pe-2'></i>$3000-$4000</li>
                <li class="list-group-item border-0 catogery-list"><i
                        class='bx bxs-right-arrow pe-2'></i>$4000-$5000</li>
                <li class="list-group-item border-0 catogery-list "><i
                        class='bx bxs-right-arrow pe-2'></i>$5000-$6000</li>
            </ul>
        </div>
        <!-- Cart Close -->
        <i class='bx bx-x' id="close-filter"></i>
    </div>
</section>

<!-- Shop -->
<section class="shop container mb-3">
    <a class="btn btn-warning filterbtn mt-3">Filter</a>
    <h2 class="section-title"> Shop Products</h2>
    <!-- Content -->
    <div class="shop-content">
        <!-- Box 2 -->
        <div class="product-box">
            <a class="p-link"><img src="~/assets/imgs/carts/14.jpeg" alt="" class="product-img"></a>
            <h2 class="product-title">Smart Phone error</h2>
            <span class="price">$25</span>
        </div>
        <!-- Box 3 -->
        <div class="product-box">
            <a class="p-link"><img src="~/assets/imgs/carts/17.jpeg" alt="" class="product-img"></a>
            <h2 class="product-title">Smart Phone1</h2>
            <span class="price">$25</span>
        </div>
        <!-- Box 4 -->
        <div class="product-box">
            <a class="p-link"><img src="~/assets/imgs/carts/12.jpeg" alt="" class="product-img"></a>
            <h2 class="product-title">Smart Phone2</h2>
            <span class="price">$15</span>
        </div>
        <!-- Box 7 -->
        <div class="product-box">
            <a class="p-link"><img src="~/assets/imgs/carts/5.jpeg" alt="" class="product-img"></a>
            <h2 class="product-title">Smart Phone3</h2>
            <span class="price">$30</span>
        </div>
        <!-- Box 5 -->
        <div class="product-box">
            <a class="p-link"><img src="~/assets/imgs/carts/20.jpeg" alt="" class="product-img"></a>
            <h2 class="product-title">Laptop</h2>
            <span class="price">$100</span>
        </div>
        <!-- Box 1 -->
        <div class="product-box">
            <a class="p-link"><img src="~/assets/imgs/carts/23.jpeg" alt="" class="product-img"></a>
            <h2 class="product-title">Laptop1</h2>
            <span class="price">$85</span>
        </div>
        <!-- Box 6 -->
        <div class="product-box">
            <a class="p-link"><img src="~/assets/imgs/carts/10.jpg" alt="" class="product-img"></a>
            <h2 class="product-title">Laptop2</h2>
            <span class="price">$50</span>
        </div>
        <!-- Box 9 -->
        <div class="product-box">
            <a class="p-link"><img src="~/assets/imgs/carts/22.jpeg" alt="" class="product-img"></a>
            <h2 class="product-title">Laptop5</h2>
            <span class="price">$85</span>
        </div>
        <!-- Box 10 -->
        <div class="product-box">
            <a class="p-link"><img src="~/assets/imgs/carts/1.jpg" alt="" class="product-img"></a>
            <h2 class="product-title">st</h2>
            <span class="price">$10</span>
        </div>
        <!-- Box 11 -->
        <div class="product-box">
            <a class="p-link"><img src="~/assets/imgs/carts/3.jpg" alt="" class="product-img"></a>
            <h2 class="product-title">Fmemory</h2>
            <span class="price">$20</span>
        </div>
        <!-- Box 12 -->
        <div class="product-box">
            <a class="p-link"><img src="~/assets/imgs/carts/4.jpg" alt="" class="product-img"></a>
            <h2 class="product-title">Screen</h2>
            <span class="price">$15</span>
        </div>
        <!-- Box 13 -->
        <div class="product-box">
            <a class="p-link"><img src="~/assets/imgs/carts/13.jpg" alt="" class="product-img"></a>
            <h2 class="product-title">watch</h2>
            <span class="price">$50</span>
        </div>
    </div>
</section>

@section script {
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/assets/js/sub.js"></script>
}
